#header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;

  .wrap {
    @include grid(space-between, center);
    height: $globalPad;
  }
}

.logo-header {
  display: block;
  height: 2vw;
  width: auto;
}

.nav-header {
  @include navMenu('horizontal');

  a {
    text-transform: uppercase;
    color: $black;
    padding: 1vw 1.5vw;
    @include transition();

    &:hover {
      color: $blue;
    }
  }
}

.nav-header-buttons {
  ul {
    @include listStripped(inline-block);

    li {
      margin-left: 1em;
    }
  }
}

.button-demo-header {
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0.5em;
    left: 0.5em;
    background-color: $blue-trans;
  }
}

#responsive-nav-toggle {
  display: none;
}

@media (max-width: 1024px) {
  #header .wrap {
    height: $globalPadTablet;
  }

  .logo-header {
    height: 2.5vw;
    width: auto;
  }
}

@media (max-width: 960px) {
  .nav-header-buttons,
  .nav-header {
    display: none;
  }

  #responsive-nav-toggle {
    display: block;
  }
}

@media (max-width: 768px) {
  #header .wrap {
    height: 3rem;
  }

  .logo-header {
    height: 1.75rem;
    width: auto;
  }
}
