#header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;

  & > .wrap {
    @include grid(space-between, center);
    height: $globalPad;
    position: relative;
    z-index: 1;
    background-color: $white;
  }
}

.logo-header {
  display: block;
  height: 1.5vw;
  width: auto;
}

.nav-header {
  @include navMenu('horizontal');
  font-size: 0.9em;
  letter-spacing: 0.025ex;

  a {
    text-transform: uppercase;
    color: $black;
    padding: 1vw 1.25vw;
    @include transition();

    &:hover {
      color: $blue;
    }
  }
}

.nav-header-buttons {
  font-size: 0.85em;
  letter-spacing: 0.035ex;

  ul {
    @include listStripped(inline-block);

    li {
      margin-left: 1em;
    }
  }
}

#responsive-nav-toggle {
  display: none;
}

@media (max-width: 1024px) {
  #header .wrap {
    height: $globalPadTablet;
  }

  .logo-header {
    height: 2.5vw;
    width: auto;
  }
}

@media (max-width: 960px) {
  .nav-header-buttons,
  .nav-header {
    display: none;
  }

  #responsive-nav-toggle {
    display: block;
  }
}

@media (max-width: 768px) {
  #header .wrap {
    height: 3rem;
  }

  .logo-header {
    height: 1.75rem;
    width: auto;
  }
}
