/**
  Responsive Navigation
  ---------------------------------------------------------------------- */
#responsive-nav-toggle {
  position: relative;

  .line {
    display: block;
    width: 0.45em;
    height: 0.45em;
    background-color: $blue;
    border-radius: 100%;
    margin: 0.3em auto;
    @include transition();
  }

  &.is-active {
    .line {
      background-color: $green;

      &:last-of-type {
        background-color: transparent;
        border-radius: 0;
        border-left: 0.20em solid transparent;
        border-right: 0.2em solid transparent;
        border-top: 0.45em solid $green;
        border-collapse: collapse;
      }
    }
  }
}

#nav-responsive {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: $blue;
  padding: ($globalPadMobile / 2) 0;
  transform: translateY(-100%);
  transform-origin: top;
  @include transition();
  @include navMenu(vertical);

  .wrap {
    height: auto !important;
  }

  #menu-responsive {
    @include grid(space-around);
    width: 100%;

    & > li {
      flex: 1 1 0;
      text-align: center;
      line-height: 1;
    }
  }

  a {
    @include grid(center, center, column-reverse);
    color: $white;
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 0.65rem;
    opacity: 0;
    @include transition();

    img {
      height: 1.75rem;
      margin-bottom: 0.5rem;
    }
  }

  &.is-active {
    transform: translateY(0);

    a {
      opacity: 1;
    }

    @for $i from 1 through 10 {
      li:nth-child(#{$i}) a {
        transition-delay: #{($i * 65) + 50}ms;
      }
    }
  }
}
