/* FormHack v1.2.0 (formhack.io) */

// Config -----------------------------

// Font
$fh-font-family: $font-default !default;
$fh-font-size: $font-size !default;
$fh-font-color: $grey !default;

// Borders
$fh-border-radius: 0 !default;
$fh-border-width: 0 !default;
$fh-border-style: solid !default;
$fh-border-color: transparent !default;

// Inputs, Textareas, Select, Option
$fh-input-height: 2.5em !default;
$fh-input-width: 100% !default;
$fh-input-max-width: auto !default;
$fh-input-bg-color: transparent !default;
$fh-focus-bg-color: transparent !default;
$fh-focus-border-color: $fh-border-color !default;
$fh-focus-font-color: $fh-font-color !default;

// Select Vendor Styling
$fh-allow-select-vendor-styling: false !default;

// Fieldset & Legend Styling
$fh-fieldset-bare: true !default;

// Buttons & Input Submits
$fh-button-height: 2.5em !default;
$fh-button-width: auto !default;
$fh-button-max-width: auto !default;
$fh-button-font-color: $fh-font-color !default;
$fh-button-bg-color: $fh-focus-bg-color !default;
$fh-button-hover-bg-color: $fh-border-color !default;
$fh-button-hover-font-color: $fh-font-color !default;

// Layout
$fh-centered: false !default;
$fh-display: block !default;

// Center/Left-Aligned Layout
@mixin center-layout {
  @if $fh-centered == true {
    margin: 10px auto;
    text-align: center;
  }

  @else {
    margin: 10px 0;
  }
}

/* Global Reset Styles ------------------ */

input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: $fh-font-family;
  font-size: $fh-font-size;
  color: $fh-font-color;
  vertical-align: top;
  display: $fh-display;

  @include center-layout;
  @include transition(all 100ms ease);
}

@media (max-width: 1024px) {
  input,
  textarea,
  select,
  option,
  optgroup,
  button,
  legend,
  fieldset {
    font-size: 1em;
  }
}

datalist {
  font-family: $fh-font-family;
  font-size: $fh-font-size;
}

label {
  display: $fh-display;

  @include center-layout;
}

/* Input & Textarea ------------------ */

/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: $fh-input-width;
  max-width: $fh-input-max-width;
  padding: $fh-input-height / 5;
  background-color: $fh-input-bg-color;
  border-radius: $fh-border-radius;
  border: $fh-border-width $fh-border-style $fh-border-color;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: $fh-input-height;
  appearance: none;
}

/* Other */

textarea {
  appearance: none;
  overflow: auto;
}

input[type="range"] {
  height: $fh-input-height;
  width: $fh-input-width;
  max-width: $fh-input-max-width;
}

input[type="file"] {
  min-height: $fh-input-height;
}

input[type="search"] {
  height: $fh-input-height;
  appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}
// For checkbox and radio to be centered, need to wrap the input and label in a span -
// .checkbox-container {
// 	display: block;
// 	text-align: center;
// }

/* Select ------------------ */

select {
  height: $fh-input-height;

  @if $fh-allow-select-vendor-styling == false {
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }
}

select[multiple] {
  height: auto;
  min-height: $fh-input-height;
  padding: 0;

  option {
    margin: 0;
    padding: $fh-input-height / 5;
  }
}

/* Fieldset ------------------ */

fieldset {
  @if $fh-fieldset-bare == true {
    padding: 0;
    border: 0;
  }

  @else {
    padding: 10px 25px;
    border-radius: $fh-border-radius;
    border: $fh-border-width $fh-border-style $fh-border-color;
  }
}

legend {
  @if $fh-fieldset-bare == true {
    padding: 0;
    font-weight: inherit;
  }

  @else {
    padding: 0 5px;
    font-weight: 700;
  }
}

/* Buttons, Input Type Submit/Reset ------------------ */

.button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  @include grid(center, center);
  height: $fh-button-height;
  line-height: 1;
  width: $fh-button-width;
  max-width: $fh-button-max-width;
  background-color: $fh-button-bg-color;
  padding: 0 ($fh-input-height / 4);
  cursor: pointer;
  color: $fh-button-font-color;
  font-weight: $font-bold;
  appearance: none;
  border-radius: $fh-border-radius;
  border: $fh-border-width $fh-border-style $fh-border-color;
  font-family: $font-heading;
  text-transform: uppercase;
  @include transition(all 133ms ease);

  &::before {
    content: '';
    display: block;
    margin-right: 0.5em;
    min-height: 1.25em;
    height: 1.25em;
    max-height: 1.25em;
    min-width: 1.25em;
    width: 1.25em;
    max-width: 1.25em;
    background-size: 95% 95%;
    background-repeat: no-repeat;
  }

  &.button-outline {
    background-color: $white;
    border: 2px solid $blue;
    color: $blue;

    &::before {
      background-image: $icon-play-blue;
    }
  }

  &.button-dark {
    background-color: $blue;
    border: 2px solid $blue;
    color: $white;

    &::before {
      background-image: $icon-play-white;
    }
  }

  &.button-white {
    background-color: $white;
    border: 2px solid $white;
    color: $black;

    &::before {
      background-image: $icon-play-black;
    }
  }
}

input[type="image"] {
  text-align: center;
  padding: $fh-input-height / 5;
}

/* States ------------------ */

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  background-color: $fh-focus-bg-color;
  border-color: $fh-focus-border-color;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: $fh-focus-border-color solid 2px;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  color: $fh-button-hover-font-color;

  &.button-outline {
    color: $blue;
    background-color: transparentize($grey-trans, 0.25);
  }

  &.button-dark {
    color: $white;
    background-color: $blue-dark;
    border-color: $blue-dark;
  }

  &.button-white {
    color: $black;
    background-color: $grey;
    border-color: $grey;
  }
}

/* Form Layouts ------------------ */
.form-element {
  border-bottom: 2px solid $white;
  position: relative;
  margin-bottom: 1em;
  @include transition();

  span {
    display: block;
  }

  label {
    position: absolute;
    color: $grey;
    font-style: $font-italic;
    bottom: 0;
    transform-origin: left;
    @include transition();
  }

  input {
    margin: 0;
    padding-left: 0;
  }

  &.is-active {
    border-color: $grey;

    label {
      transform: scale(0.65) translateY(-2em);
      color: $grey-trans;
    }
  }

  .wpcf7-not-valid-tip {
    @include grid(center, center);
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    background-color: $orange;
    color: $white;
    height: 2.5em;
    font-size: 0.75em;
    padding: 0 0.5em;
  }
}
