.blog-single-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: $globalPad;
}

.blog-single-hero {
  text-align: center;
  padding-top: $globalPad;

  h2 {
    font-size: 1em;
    font-family: $font-default;
    font-weight: $font-normal;
    opacity: 0.5;
  }

  img {
    display: block;
    margin: $globalPad auto 0 auto;
  }

  .entry-author {
    display: none;
  }
}

@media (max-width: 768px) {
  .blog-single-content {
    padding: $globalPadMobile 0;
  }
}
