.footer-cta {
  padding-top: $globalPad;
}

.footer-cta-inner {
  @include grid();
  background-color: $blue-dark;
  background-image: radial-gradient(ellipse at center, $blue 0%, $blue-dark 100%);
  color: $white;
    padding: $globalPad;

  .image,
  .content {
    width: 50%;
  }

  .content {
    padding: 0 ($globalPad * 2);

    h1 {
      font-size: 3em;
    }

    button {
      color: $blue;

      &::before {
        background-image: $icon-play-blue;
      }
    }
  }
}

.cta-followup {
  @include grid(flex-start, flex-start, column);
}

.cta-followup-steps {
  @include listStripped();
}

li.cta-followup-step {
  @include grid(flex-start, center);
  margin-bottom: 1.5em;

  .number {
    @include grid(center, center);
    min-width: 1.5em;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
    font-size: 2.5em;
    font-weight: $font-bold;
    border-radius: 100%;
    border: 2px solid $white;

    &.complete {
      background-color: $grey-trans;
    }
  }

  p.step {
    padding-bottom: 0;

    strong {
      display: block;
      font-size: 1.5em;
    }

    em {
      display: block;
      font-size: 0.85em;
    }
  }
}

a.button-cta-contact {
  width: auto;
  background-color: transparent !important;
  border: none !important;
  padding-left: 0;
  margin-left: 4.25em;
  font-style: italic;
  text-transform: none;
  font-family: $font-default;
  font-weight: $font-normal;
}

body.textual-demo {
  &-false {
    #wpcf7-f160-p9-o1,
    #wpcf7-f160-o2 {
      display: none;
    }
  }

  &-true {
    .cta-followup {
      display: none;
    }
  }
}

.cta-wrap {
  p {
    padding-bottom: 0;
  }
}

div.wpcf7-response-output {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
}

@media (max-width: 1200px) {
  .footer-cta-inner .content {
    padding: 0 $globalPad 0 0;
  }

  li.cta-followup-step p.step strong {
    font-size: 1.25em;
  }
}

@media (max-width: 960px) {
  .footer-cta-inner {
    @include grid(center, center, column-reverse);

    .image,
    .content {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .footer-cta-inner .image {
    max-width: 60%;
    margin: 2em 0;
  }
}
