{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "ie9": false
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "ie9": false,
              "uglify": true
            }
          }
        ]
      ]
    }
  }
}
